{% extends 'basic.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="/static/about.css?{% now 'U' %}" />
{% endblock %}
{% block body %}

<main>
  <p class="about">ABOUT <span>US</span></p>
  <section id="outerjoin">
    <section class="imgpart">
      <img src="/static/artise/neha.png" alt="">
    </section>
    <section class="discpart">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, eligendi odit. Voluptate optio ex ipsa
        accusamus? Natus quidem quibusdam quasi? Ipsam recusandae dolorem saepe sed nemo repellat ipsum facilis fugiat
        autem? Quos nostrum placeat rem culpa, veniam aut similique nisi! Voluptatum, esse cumque laudantium nesciunt id
        distinctio explicabo iure quas sed atque in cupiditate velit dolore ad pariatur. Facere, commodi. Veritatis
        deserunt unde tempora nemo, aliquam quaerat. Similique ducimus in nam delectus ex cumque illo! Eos sint, veniam
        quibusdam eum necessitatibus sapiente vero aut dicta itaque quas eveniet deserunt quaerat neque harum rerum
        quisquam voluptatem! Facilis adipisci sequi recusandae placeat ullam vitae ducimus dolor pariatur in suscipit.
        Dolorem ipsam iure possimus dicta ab atque reprehenderit! Aspernatur sint dolorum fugit optio assumenda nobis
        officia esse cupiditate ea earum praesentium cum, culpa perferendis eius. Culpa, voluptatem.<br>  eaque dolorum corrupti in numquam explicabo! Enim quis
        pariatur delectus quod obcaecati? Dignissimos delectus repellat eum minus sint ipsam officia magni, tenetur cum,
        harum ea reiciendis esse? Vitae ea nostrum reiciendis quae magnam aliquid. Iste, dolor tempore dolorum nobis
        voluptatibus eius quod?</p>
    </section>
  </section>
</main>
{% endblock %}