*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: ghostwhite;
    width: 100%;
    height: 100vh;
    
}
.about{
    display: block;
    font-size: 90px;
    top: 15%;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    


    
}
main{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
span{
    color: brown;
}
#outerjoin{
    top: 22%;
    width: 80%;
    display: inline-flex;
    justify-content: center;
    position: absolute;
}
.imgpart{
    width:44%;
    height:400px;
    position: relative;
}
.imgpart img{
    position: relative;
    width: 99%;
    height: 420px;
    
    padding: 10px;
}
.discpart{
    width:44%;
    position: relative;
    padding: 25px;
    background-color: rgb(235, 172, 38);
    

}
.discpart p{
    font-size: 18px;
    font-style: italic;
    color: black;
    position: relative;
    padding: 10px;
    text-align: justify;
    overflow:hidden;
    height: 55vh;
  
}
