.menu{
    
    width: 100%;
    position: absolute; 
    z-index: 1;
    height: 100vh;
}
.menu ul{
    display: flex;
    float: right;
    padding: 10px;
    position: relative;
    flex-direction: unset;
    align-items: center;
    flex-wrap: wrap;
    top: 25px;
}
.menu img{
    position: absolute;
    align-items: center;
    left: 40px;
    top: 50px;
}
.menu ul li{
    list-style: none;
    margin-left: 40px;
    overflow: hidden;

}
#search{
    width: 220px;
    height: 30px;
    border: none;
    border-radius:3px;
    padding-left: 5px;
}
#searchbtn{
    border-radius: 3px;
    height: 30px;
    width: 70px;
    background-color: orange;
    border: none;
    margin-left: 2px;
}

.menu ul li a{
    text-decoration: none;
    background: linear-gradient(90deg,rgb(239, 15, 228),#3cf);
    -webkit-text-fill-color: transparent ;
    -webkit-background-clip: text;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: azure;
    transition: scale 400ms;
}
.menu ul li:hover a{
    /* background: linear-gradient(90deg,rgb(239, 41, 15),#3cf);
    -webkit-text-fill-color: transparent ;
    -webkit-background-clip: text;
    font-size: 25px; */
    scale: 120%;
}
#about{
  margin-right: 50px;
}
#Login{
    background-color: crimson;
    border-radius: 20px;
    margin-right: 10px;
    padding: 5px;
}
.empty{
    width: 100%;
    height: 300px;
}
.empty img{
    background:transparent;
    width: 100%;
}
.nav{
    position: relative;
    top: 750px;
    height: 350px;
}
.nav h1
{
    font-weight: 20px;
    color: rgb(255, 170, 0);
    padding: 20px;
    /* text-shadow: 2px  2px 5px rgb(248, 248, 250); */
    
}
.nav h1:hover{
    color: rgb(237, 79, 108);
}
hr{
    width: 100%;
    color: rgb(0, 196, 245);
    font-size: 20px;

}