body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  .songdiv{
    width: 100%;
    height: 115vh;
    display: flex;
    position: relative;
    justify-content: center;
    top:90px;
    /* bottom: 600px; */
    
  }
  .container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
    
  }
  
  .login-card {
    /* height: 350px; */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    /* top: 90px; */
    overflow: hidden;
  }
  
  .login-card-header {
    background-color: #3498db;
    color: #fff;
    font-size: 25px;
    text-align: center;
    height: 80px;
    padding: 15px;
  }
  
  .login-card-body {
    padding: 20px;
    position: relative;
    /* height: 320px; */
  }
  form{
    position: relative;
    /* height: 200px; */
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 10px;
  }
  
  .login-btn:hover {
    background-color: #2980b9;
  }
